@use "sass:math";

.form-group {
 padding: 0.5rem;
 margin-top: 0.25rem;
}

.form-input {
 border: none;
 box-shadow: $base-box-shadow;
 background-color: lighten($light-accent, 30);
 border-radius: math.div($base-border-radius, 2);

 &:focus {
  outline: none;
 }
}

select {
 border: none;
 outline: none;
 box-shadow: $base-box-shadow;
 min-width: 8rem;
 max-width: 16rem;
 appearance: none;
}

.selectLabel {
 position: relative;

 &:after {
  content: "<>";
  font: 11px "Consolas", monospace;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 2px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
 }
 //  &:before {
 //   content: "";
 //   right: 6px;
 //   top: 0px;
 //   width: 20px;
 //   height: 20px;
 //   position: absolute;
 //   pointer-events: none;
 //   display: block;
 //  }
}
