@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: start;
  margin-right: -1em;
  padding-right: 1em;
}

@mixin btnColor(
  $bg-color: map-get(map-get($themes, "light"), "background"),
  $color: map-get(map-get($themes, "light"), "primary"),
  $border: map-get(map-get($themes, "light"), "accent")
) {
  border: $border;
  color: $color;
  background-color: $bg-color;
}

@mixin multiLineEllipsis2($font-size: 1em, $line-height: 1.2, $lines-to-show: 2) {
  display: block; // Fallback for non-webkit
  display: -webkit-box;
  height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
