//  Colors

$light-text: #061313 !default;
$light-background: #ffffff !default;
$light-primary: #ff6165 !default;
$light-secondary: #f67700 !default;
$light-accent: #ffa400 !default;

$dark-text: #ecf9f9 !default;
$dark-background: #000000 !default;
$dark-primary: #9e0005 !default;
$dark-secondary: #ff810a !default;
$dark-accent: #ffa600 !default;

$fade-text: #999999;
$danger: #ff0e16;

// Color Palette
$themes: (
 light: (
  text: $light-text,
  background: $light-background,
  primary: $light-primary,
  secondary: $light-secondary,
  accent: $light-accent,
  danger: $danger,
 ),
 dark: (
  text: $dark-text,
  background: $dark-background,
  primary: $dark-primary,
  secondary: $dark-secondary,
  accent: $dark-accent,
  danger: $danger,
 ),
);

//  Spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// Borders
$base-border-thickness: 1px !default;
$base-border-radius: 1rem !default;

// Box-Shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// Font Sizes
$base-font-size: 1rem !default;
$font-size-sm: calc($base-font-size * 0.75);
$font-size-lg: calc($base-font-size * 1.5);
$font-size-xl: calc($base-font-size * 2);
$font-size-xxl: calc($base-font-size * 3);
