<div *ngIf="searchFilters.length">
 <button class="btn btn-dark-primary" (click)="clearFilters()">Clear Filters</button>
    <ul>
        <li class="d-flex-col" *ngFor="let filter of searchFilters; index as i">
            <div class="row">
                <input type="checkbox" [checked]="filter.checked"
                       [indeterminate]="filter.partialChecked"
                       [name]="filter.categoryName" (click)="changeAction({
                       categoryName: filter.categoryName,
                       checked: !filter.checked,
                       id: 'main'
                       })"
                />
                <h5>{{ filter.categoryName }}</h5>
            </div>
            <ul class="pl-1" *ngIf="filter.subCategories">
                <li class="d-flex" *ngFor="let subc of filter.subCategories; index as j">
                    <input type="checkbox" [checked]="subc.checked"
                           [name]="subc.categoryName"
                           (click)="changeAction({
                        categoryName: filter.categoryName,
                        checked: false,
                        subCategory: {
                            categoryName: subc.categoryName,
                            checked: !subc.checked
                        },
                        id: 'sub'
                    })"/>
                    <h5>{{ subc.categoryName }}</h5>
                </li>
            </ul>
        </li>
    </ul>
</div>
