<div class="container">
    <form class="d-flex d-flex-col" action="process_form.php" method="post">
        <label for="senderName">Sender Name:</label>
        <input class="form-group form-input" type="text" id="senderName" name="senderName" required>
        <br>
    
        <label for="senderEmail">Sender Email:</label>
        <input class="form-group form-input" type="email" id="senderEmail" name="senderEmail" required>
        <br>
    
        <label for="senderMessage">Sender Message:</label>
        <textarea class="form-group form-input" id="senderMessage" name="senderMessage" rows="4" required></textarea>
        <br>
        <input class="btn btn-light-secondary" type="submit" value="Submit">
    </form>
    <app-breadcrumps [variant]="'card'" [breadCrumbPaths]="['hello1', 'hello2', 'hello3', 'hello4']"></app-breadcrumps>
</div>