<div>
    <h2>Code Highlighter</h2>
    <div>
        <div class="d-flex justify-space-between flex-grow bg-light-primary-5 p-2">
            <div>FileName</div>
            <div>
                <div class="mr-1" [ngClass]="copyStatusClass"><span>Copied!</span></div>
                <button class="clipboard" (click)="copyToClipboard()">Copy</button>
            </div>
        </div>
        <div markdown
             lineNumbers
             lineHighlight
             [src]="'shared/mock/codes.md'"
             id="copyToClipboard"
        >
        </div>
    </div>
</div>
